<div class="content-i">
  <div class="content-box">
      <div class="row">

          <div class="col-lg-12">
              <div class="element-wrapper">
                  <h6 class="element-header">CONFIRMATION</h6>
                  <div class="element-box-tp">
                    <!--------------------START - Applicant File Table------------------ -->
                    <div class="controls-above-table">

                        <!--------------------START ALERTS-------------------------------->
                        <app-alert></app-alert>
                        <!--------------------END ALERTS-------------------------------- -->

                        <div class="row gutters-8">
                          <div class="col-lg-2 col-12 form-group" style="padding-right: 0px;">
                            <button type="button" class="fw-btn-fill btn-gradient-yellow"(click)="back()">Back</button>
                          </div>
                      </div>

                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
